gTTS==2.5.3
IMDbPY==2022.7.9
keyboard==0.13.5
Kivy==2.3.1
Kivy_examples==2.3.1
PyAutoGUI==0.9.54
pydub==0.25.1
python-decouple==3.8
python-dotenv==1.0.1
pyttsx3==2.90
pywhatkit==5.4
Requests==2.32.3
sounddevice==0.4.6
SpeechRecognition==3.10.0
wikipedia==1.4.0
wolframalpha==5.0.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.2.0
altair==5.4.1
annotated-types==0.6.0
anyio==4.6.0
attrs==23.1.0
blinker==1.8.2
Brotli==1.0.9
cachetools==5.3.3
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.0
distlib==0.3.6
filelock==3.12.0
frozenlist==1.4.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage
google-api-core==2.19.1
google-api-python-client==2.147.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.63.2
grpcio==1.66.2
grpcio-status==1.62.3
h11==0.14.0
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
idna==3.10
Jinja2==3.1.4
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
langchain-core==0.3.9
langchain-google-genai==2.0.0
langsmith==0.1.131
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
multidict==6.0.4
narwhals==1.9.1
numpy==2.1.1
orjson==3.10.7
packaging==24.1
pandas==2.2.3
pillow==10.4.0
pip==24.2
platformdirs==3.5.0
proto-plus==1.24.0
protobuf==4.25.3
pyarrow==17.0.0
pyasn1
pyasn1-modules
PyAudio
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
PyYAML
referencing
requests
requests-toolbelt
rich
rpds-py
rsa
setuptools
six
smmap
sniffio
sqlparse
streamlit
tenacity
toml
tornado
tqdm
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
watchdog
wheel
win-inet-pton
yarl
